---
- name: Restart systemd-journald
  ansible.builtin.service:
    name: systemd-journald
    state: restarted

- name: Restart docker
  ansible.builtin.service:
    name: docker
    state: restarted

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
