---
# vars.yml — Généré par wizard.sh le 2026-02-09
server_ip: "87.106.30.160"
system_user: "mobuone"
system_user_ssh_pubkey: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGX60wjMX/3O1igvHTBlnq3lHVmQ1+1VZQduudw3D6M/ seko-vpn-deploy"
domain_headscale: "singa.ewutelo.cloud"
headscale_base_domain: "na.ewutelo.cloud"
domain_headplane: "seko.ewutelo.cloud"
domain_vaultwarden: "fongola.ewutelo.cloud"
domain_portainer: "pao.ewutelo.cloud"
domain_zerobyte: "buku.ewutelo.cloud"
domain_uptime_kuma: "misu.ewutelo.cloud"
acme_email: "seko.mobutoo@gmail.com"
ssh_custom_port: 804
ci_mode: false
headscale_version: "0.26.0"
vaultwarden_version: "1.35.1-alpine"
portainer_version: "lts"
zerobyte_version: "v0.26.0"
headplane_version: "0.6.1"
uptime_kuma_version: "latest"
base_deploy_path: "/opt/services"
headscale_data_path: "{{ base_deploy_path }}/headscale"
headplane_data_path: "{{ base_deploy_path }}/headplane"
vaultwarden_data_path: "{{ base_deploy_path }}/vaultwarden"
portainer_data_path: "{{ base_deploy_path }}/portainer"
zerobyte_data_path: "{{ base_deploy_path }}/zerobyte"
uptime_kuma_data_path: "{{ base_deploy_path }}/uptime-kuma"
caddy_data_path: "{{ base_deploy_path }}/caddy"
telegram_bot_path: "{{ base_deploy_path }}/telegram-bot"
monit_check_interval: 30
monit_containers:
  - headscale
  - headplane
  - vaultwarden
  - portainer
  - zerobyte
  - caddy
  - uptime-kuma
telegram_bot_server_name: "Seko"
alloy_loki_url: ""
hardening_swap_size: "2G"
hardening_journal_max_use: "500M"
hardening_journal_max_retention: "30day"
