# Monitoring conteneurs Docker — Géré par Ansible
{% for container in monit_containers %}
check program {{ container }} with path "/etc/monit/check-container.sh {{ container }}"
    every 2 cycles
    if status != 0 for 2 cycles then exec "/etc/monit/restart-container.sh {{ container }}"

{% endfor %}
