---
vault_system_user_password: "{{ secret_user_password }}"
vault_vaultwarden_admin_token: "{{ secret_vw_admin_token }}"
vault_headplane_cookie_secret: "{{ secret_hp_cookie }}"
vault_zerobyte_app_secret: "{{ secret_zb_app_secret }}"
vault_monit_password: "{{ secret_monit_password }}"
vault_telegram_bot_token: "{{ telegram_token }}"
vault_telegram_chat_id: "{{ telegram_chat_id }}"
