---
- name: Créer les répertoires Headscale
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ headscale_data_path }}"
    - "{{ headscale_data_path }}/config"

- name: Deployer la configuration Headscale
  ansible.builtin.template:
    src: config.yaml.j2
    dest: "{{ headscale_data_path }}/config/config.yaml"
    mode: "0644"
  notify: Restart headscale

- name: Deployer la policy ACL Headscale
  ansible.builtin.template:
    src: policy.json.j2
    dest: "{{ headscale_data_path }}/config/policy.json"
    mode: "0644"
  notify: Restart headscale

- name: Déployer le docker-compose Headscale
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ headscale_data_path }}/docker-compose.yml"
    mode: "0644"

- name: Démarrer Headscale
  community.docker.docker_compose_v2:
    project_src: "{{ headscale_data_path }}"
    state: present
