---
- name: Restart ufw
  ansible.builtin.service:
    name: ufw
    state: restarted
  when: ansible_virtualization_type != "docker"

- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
  when: ansible_virtualization_type != "docker"
